body
{

	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	background: #158CFC url(images/bg.png);
}

 .container {

    background: rgb(189, 236, 255);
}

a:hover{
	text-decoration: underline;
	color: #00D8FF;
}

a:visited {
	color: #00D8FF;
}

h2{
font-size: 25px;
color: rgb(189, 236, 255);
}

#logo
{
padding-left: 40px;
text-align: left;
padding-top: 20px;
background: #158CFC url(images/bg.png);
}

#logo a {
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}


#logo H2 a
{
font-size: 10px;
}
#buttons
{
	height: 62px;
    border-left:13px solid rgb(189, 236, 255);
    border-right:13px solid rgb(189, 236, 255);
	background: url(images/menu.gif) repeat-x;
}

#buttons ul {
    padding-left: 155px;
    margin: 0px;      
}

#buttons li {
	display: inline;		
}

#buttons a {
	display: block;
	float: left;
	width: 190px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	padding-top: 22px;
	margin-right: 5px;
}

#buttons a:hover {
	width: 190px;
    height: 40px;
	background: url(images/menu_hover.gif) repeat-x;
}

#option{
    
    border-left:13px solid rgb(189, 236, 255);
    border-right:13px solid rgb(189, 236, 255);
}

#option h2{
    color: rgb(189, 236, 255);
}
.link1 { 
	background:url(images/bull-1.gif) no-repeat 0 6px;
	padding:0 0 0 7px;
	font-weight:bold;
	text-transform: uppercase;
	color: #00D8FF
}

#Etiam{
	
	border-left:13px solid rgb(189, 236, 255);
	border-right:13px solid rgb(189, 236, 255);
    
}

#Etiam01{
	padding: 25px;
	
	border-left:40px solid rgb(255, 255, 255);
	border-right:10px solid rgb(255, 255, 255);

	background-color:rgb(189, 236, 255) ;

}

#Etiam02{
	padding: 25px;
	border-right:67px solid rgb(255, 255, 255);
	border-left:10px solid rgb(255, 255, 255);
	background-color:rgb(189, 236, 255) ;

}

#Etiam h2{

	color: rgb(75, 204, 255);
}

#Nullam{
  
	border-left:13px solid rgb(189, 236, 255);
	border-right:13px solid rgb(189, 236, 255);	
}

#Nullam01{
	padding-top:25px;
padding-left: 70px;
padding-right: 60px;
padding-bottom: 45px;
	background-color: rgb(255, 255, 255);
}

#Nullam02{
	padding-top:25px;
	padding-left: 10px;
	padding-right: 95px;
	padding-bottom: 45px;
	background-color: rgb(255, 255, 255);
}

#Nullam01 h4{
	font-size: small;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', bold, sans-serif;
}

#footer
{
	background: url(images/footer.gif) repeat-x;
	height: 50px;
	margin: 0 auto;
	font-size: 10px;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 60px;
	text-align: center;
	clear:both;
}

#footer a
{
color: #ffffff;
font-size: 10px;
text-decoration: none;
}